/* General styles */

body {
	margin: 0;
}

h2 {
	font-size: 50px;
}

h4 {
	font-size: 22.5px;
}

h5 {
	font-size: 19px;
}

.mobile {
	display: none;
}

#starting-page .mobile {
	display: none;
}

/* Header section */

header {
	width: 100%;
	height: 64px;
	position: fixed;
	display: flex;
	padding: 0 24px;
	background-color: white;
	z-index: 2;
	justify-content: space-between;
}

header .logo, header .sign-in {
	min-width: 30%;
	height: 64px;
	font-family: 'Poppins', sans-serif;
}

header .logo * {
	font-size: 20px;
	margin: 0;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 32px;
}

.sign-in ul {
	display: flex;
	align-items: center;
	height: 64px;
	justify-content: flex-end;
	padding: 0 48px 0 0;
	margin: 0;
}

.sign-in ul li {
	display: inline-block;
	margin: 0 0 0 16px;
	font-size: 20px;
}

main {
	position: absolute;
	top: 64px;
}

@media only screen and (max-width: 950px) {
	.sign-in .computer {
		display: none;
	}

	.mobile {
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 24px 0 0;
	}

	.mobile img {
		height: 32px;
		margin: 0 16px;
	}
}

/* Starting section */

#starting-page {
	background-color: #283059;
	width: 100%;
	padding: 32px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#starting-page img, #starting-page div {
	display: inline-block;
}

#starting-page img {
	width: 48.5%;
	margin: 24px;
}

#starting-page .flex-par {
	display: flex;
	justify-content: center;
	width: 48.5%;
}

#starting-page .text {
	display: inline-block;
	align-items: center;
	width: fit-content;
	opacity: 0.95;
	text-align: center;
	padding: 32px;
	margin: 0 24px 0 0;
	
}

#starting-page .text * {
	font-family: 'Roboto', sans-serif;
	color: white;
	opacity: 0.90;
}

#starting-page h2 {
	font-size: 50px;
	margin: 0 0 10px 0;
}

#starting-page h4 {
	font-size: 22.5px;
}

#starting-page .button {
	background-color: white;
	padding: 8px 0;
	color: black;
	width: 40%;
}

#starting-page .button p {
	margin: auto;
	font-size: 22px;
	color: black;
	font-weight: 600;
}

@media only screen and (max-width: 1210px) {
	#starting-page {
		flex-direction: column;
		padding: 0;
	}

	#starting-page img.computer {
		display: none;
	}

	#starting-page .text {
		margin: 0;
	}

	#starting-page .flex-par {
		width: 100%;
	}

	#starting-page .mobile {
		display: block;
	}
}

/* Practicing */

#practicing {
	width: 100%;
	background-color: #1F98A6;
	display: flex;
	flex-direction: column;
}

#practicing .practice {
	width: 98%;
	color: white;
	opacity: 0.9;
	font-family: 'Fira Sans', sans-serif;
	display: flex;
	text-align: center;
	align-items: center;
	padding: 32px 12px 32px 0;
}

#practicing .practice div {
	padding: 32px;
}

#practicing .practice img {
	width: 50%;
	float: right;
}

#practicing .practice2 {
	width: 100%;
	display: flex;
	flex-direction: row;	
}

#practicing .practice2 .flex {
	display: flex;
	padding: 16px;
	align-items: center;
	width: 34%;
	background-color: #EA6055;
}

#practicing .practice2 img {
	width: 35%;
}

#practicing .practice2 .text-div {
	width: 65%;
	color: white;
	font-family: 'Varela Round', sans-serif;
	opacity: 0.9;
}

#practicing .practice2 .text-div * {
	margin: 8px;
}

#practicing .shortened {
	width: 45%;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
}

#practicing .emanuel {
	font-weight: 600;
}

#practicing .read {
	color: yellow;
}

@media only screen and (max-width: 1650px) {
	#practicing .practice {
		display: none;
	}

	#practicing .practice2 .flex h5 {
		font-size: 40px;
	}

	#practicing .practice2 .flex p {
		font-size: 33px;
	}

	#starting-page h2 {
		font-size: 58px;
	}

	#starting-page h4 {
		font-size: 35px;
	}

	#starting-page .button p {
		font-size: 32px;
	}

	#learning h2 {
		font-size: 58px;
	}

	#thesis-exhibit h2 {
		font-size: 58px;
	}
}

@media only screen and (max-width: 1400px) {
	#practicing .practice2 {
		flex-direction: column;
		flex-wrap: wrap-reverse;
		display: inline-flex;
	}

	#practicing .practice2 .flex {
		width: 100%;
	}

	#practicing .practice {
		display: inline-flex;
	}

	#practicing .practice img {
		display: none;
	}

	#practicing {
		flex-direction: row;
	}

	.shortened {
		display: none;
	}
}

@media only screen and (max-width: 1130px) {
	#practicing .practice {
		display: none;
	}

	#practicing .practice2 .flex img {
		margin-left: 35px;
		width: 25%;
	}
}

/* learning section */

#learning {
	padding: 32px 72px;
	background-color: #283059;
}

#learning h2 {
	text-align: center;
	color: white;
	font-family: 'DM Sans', sans-serif;
	opacity: 0.9;
}

#learning .wrap {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

#learning .box {
	width: 30%;
	margin: 16px;
	background-color: #F0B80C;
	font-family: 'DM Sans', sans-serif;
	color: white;
}

#learning .box img {
	width: 100%;
	margin: 0 0 16px 0;
}

.course {
	margin: 15px 0 8px 16px;
	color: red;
}

.box p, .box h5 {
	margin-left: 16px;
}

.box h5 {
	margin: 0 0 0 16px;
}

@media only screen and (max-width: 1425px) {
	#learning {
		padding: 16px 0 16px 0;
	}

	#learning h2 {
		margin: 0;
	}
}

@media only screen and (max-width: 1275px) {
	#learning .box {
		margin: 12px;
	}
}

@media only screen and (max-width: 1010px) {
	#learning .computer {
		display: none;
	}

	#learning .mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}

	#learning .mobile p {
		background-color: #F0B80C;
		text-align: center;
		color: white;
		font-family: 'DM Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
		padding: 22.5px;
		width: 80%;
		margin: 15px auto;
		border-radius: 2.5%;
	}
}

/* Thesis-exhibit */

#thesis-exhibit {
	width: fit-content;
	background-color: #1F98A6;
	padding: 32px 0 0 0;
}

#thesis-exhibit	.flexing {
	width: inherit;
}

#thesis-exhibit h2 {
	text-align: center;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	opacity: 0.9;
}

#thesis-exhibit .video {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#thesis-exhibit .video video {
	width: 50%;
	margin-right: 24px;
	margin-bottom: 24px;
	margin: 0 24px 24px 24px;
}

#thesis-exhibit .video p, #thesis-exhibit .video h5 {
	margin: 0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 0.9;
}

#thesis-exhibit .video h5 {
	font-size: 35px;
}

#thesis-exhibit .video p {
	margin: 8px auto 0 auto;
	width: 50%;
	font-style: italic;
}

#thesis-exhibit .thesis-product {
	background-color: #283059;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 0 0 0;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

#thesis-exhibit .thesis-product p, #thesis-exhibit .thesis-product h5 {
	margin: 8px 0;
	opacity: 0.9;
}

#thesis-exhibit .thesis-product .flexior {
	display: flex;
	align-items: center;
}

#thesis-exhibit .thesis-product img {
	height: auto;
	width: 35%;
	margin: 16px;
}

@media only screen and (max-width: 1410px) {
	#thesis-exhibit .video p, #thesis-exhibit .video h5 {
		display: none;
	}
}

@media only screen and (max-width: 1160px) {
	#thesis-exhibit .thesis-product {
		flex-direction: column;
	}

	#thesis-exhibit .thesis-product h5 {
		font-size: 40px;
	}

	#thesis-exhibit .thesis-product p {
		font-size: 33px;
	}
}

/* Footer */

footer {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #202731;
	color: white;
	font-family: 'Poppins', sans-serif;
}

footer div {
	display: flex;
}

.rights {
	margin: 0 0 0 24px;
}

.privacy {
	margin-right: 24px;
	margin-left: 12px;
}

@media only screen and (max-width: 1160px) {
	.terms, .privacy {
		display: none;
	}

	.rights {
		font-size: 26px;
	}
}