/* General styles */

body {
	margin: 0;
}

h2 {
	font-size: 50px;
}

h4 {
	font-size: 22.5px;
}

h5 {
	font-size: 19px;
}

/* Header section */

header {
	width: 100%;
	height: 64px;
	position: fixed;
	display: flex;
	padding: 0 24px;
	background-color: yellow;
	z-index: 2;
}

header .logo, header .sign-in {
	min-width: 49%;
	height: 64px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 32px;
}

.sign-in ul {
	display: flex;
	align-items: center;
	height: 64px;
	justify-content: flex-end;
	margin: 0;
}

.sign-in ul li {
	display: inline-block;
	margin: 0 0 0 16px;
}

main {
	position: absolute;
	top: 64px;
}

/* Starting section */

#starting-page {
	background-color: yellowgreen;
	width: 100%;
	padding: 32px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#starting-page img, #starting-page div {
	display: inline-block;
}

#starting-page img {
	width: 48.5%;
	margin: 24px;
}

#starting-page div {
	display: inline-block;
	align-items: center;
	width: 48.5%;
}

#starting-page h2 {
	font-size: 50px;
}

#starting-page h4 {
	font-size: 22.5px;
}

#starting-page .button {
	background-color: black;
	padding: 8px 0;
	display: flex;
	justify-content: center;
	width: 40%;
}

#starting-page .button p {
	margin: auto;
	font-size: 22px;
	color: white;
}

/* Practicing */

#practicing {
	width: 100%;
	background-color: seagreen;
	display: flex;
	justify-content: space-between;
}

#practicing .practice {
	padding: 32px 24px;
	width: 60%;
}

#practicing .practice img {
	width: 50%;
}

#practicing .practice2 {
	width: 30%;
}

#practicing .practice2 .flex {
	display: flex;
	padding: 16px;
	background-color: white;
	align-items: center;
}

#practicing .practice2 img {
	width: 35%;
}

#practicing .practice2 .text-div {
	width: 65%;
}

#practicing .practice2 .text-div * {
	margin: 8px;
}

/* learning section */

#learning {
	padding: 32px 72px;
	background-color: gray;
}

#learning h2 {
	text-align: center;
}

#learning .wrap {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

#learning .box {
	width: 30%;
	margin: 16px;
	background-color: white;
}

#learning .box img {
	width: 100%;
	margin: 0 0 16px 0;
}

.course {
	margin: 8px 0 8px 16px;
}

.box p, .box h5 {
	margin-left: 16px;
}

.box h5 {
	margin: 0 0 0 16px;
}

/* Thesis-exhibit */

#thesis-exhibit {
	width: fit-content;
	background-color: lightblue;
	padding: 32px 0 32px 24px;
}

#thesis-exhibit	.flexing {
	display: flex;
	width: inherit;
	justify-content: space-between;
}

#thesis-exhibit h2 {
	text-align: center;
}

#thesis-exhibit .video {
	max-width: 60%;
}

#thesis-exhibit .video video {
	width: 90%;
	margin-right: 24px;
	margin-bottom: 24px;
}

#thesis-exhibit .video p, #thesis-exhibit .video h5 {
	width: 50%;
	margin: 0;
}

#thesis-exhibit .video p {
	margin-top: 8px;
}

#thesis-exhibit .thesis-product {
	width: 30%;
	background-color: white;
}

#thesis-exhibit .thesis-product .flexior {
	display: flex;
	align-items: center;
}

#thesis-exhibit .thesis-product img {
	height: auto;
	width: 35%;
	margin: 16px;
}

/* Footer */

footer {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer div {
	display: flex;
}

.rights {
	margin: 0 0 0 24px;
}

.privacy {
	margin-right: 24px;
	margin-left: 12px;
}